.projects__panels {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    flex-wrap: wrap;
}

.project  {
    margin: 2rem;
    width: 18rem;
    height: 20rem;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.project.yarnbag {
    background-image: url("~assets/projects/yarnbag.png");
}

.project.checkers {
    background-image: url("~assets/projects/checkers.png");   
}

.project.wordcloud {
    background-image: url("~assets/projects/wordcloud.png"); 
}

.project.bonzai {
    background-image: url("~assets/projects/bonzai.png"); 
}

.project-caption {
    position: absolute;
    bottom: 0;
    height: 2.5rem;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5d9262;
}

@media screen and (min-width: 48em) {
    .project {
        width: 15rem;
        height: 18rem;
    }
}

//animations
@keyframes scale {
    0% { transform: scale(1) }
    50% { transform: scale(1.2) }
    100% { transform: scale(1) }
}

.project.animate {
    animation: scale .5s ease-in forwards;
}