<section class="projects">
    <span class="scroll-anchor"></span>
    <div class="step__header">
        <span class="step-icon">
            <img src="~assets/traits/creative.svg" alt="light-bulb">
        </span>
        <h2 class="step__title">Projects</h2>
    </div>
    <section class="projects__panels">
        <div class="project yarnbag ripple" onclick="cvApp.toggleModal('yarnbag')">
            <div class="project-caption">A Polymer webshop</div>
        </div>
        <div class="project checkers ripple" onclick="cvApp.toggleModal('checkers')">
            <div class="project-caption">VueJS & Checkers</div>
        </div>
        <div class="project wordcloud ripple" onclick="cvApp.toggleModal('wordcloud')">
            <div class="project-caption">AngularJS wordclouds</div>
        </div>
        <div class="project bonzai ripple" onclick="cvApp.toggleModal('bonzai')">
            <div class="project-caption">Bonzai shopping list</div>
        </div>
    </section>
</section>