@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('generic.scss');

$baseGreen: #5d9262;

body {
    margin: 0;
    font-family: 'Raleway', 'sans-serif';
    width: 100%;
}

.header {
    position: absolute;
    width: 100%;
    z-index: 2;
    background-color: rgba(77, 128, 88, 0.8);
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

// Steps
.step {
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    border-top: .8rem solid #5d9262;
    color: gray;
}

.step__header {
    padding: 3rem 0 0 1rem;
    display: flex;
    align-items: center;
}

.step__title {
    font-family: 'News Cycle', sans-serif;
    font-weight: lighter;
    margin: 0;
}

#landing {
    background-image: url("../assets/background.jpg");
    background-size: cover;
}

#about, #projects {
    background-color: white;
}

#resume, #blog {
    background-color: #F5F5F5;
}

// fab
.top-fab {
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 50%;
    height: 4.8rem;
    width: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.top-fab:hover {
    background-color: rgba(0,0,0,0.3);
}

.top-fab__img {
    width: 2rem;
}

// Footer
.footer {
    box-sizing: border-box;
    height: 8rem;
    background-color: #c7c7c79e;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

.footer__social {
    text-decoration: none;
}

.footer__social > img {
    height: 1.8rem;
    margin: 0.8rem;
    cursor: pointer;
}

.footer__copyright > span {
    color: #5d9262;
}

@media screen and (min-width: 48em) {
    .landing__menu > div {
        flex: 1;
        height: 15rem;
    }

    .step__header {
        justify-content: center;
    }
}