<section class="landing page-content">
    <span class="scroll-anchor"></span>
    <div class="landing__menu">
        <div class="landing__menu-item--about" onclick="cvApp.scrollTo('about')">About me</div>
        <div class="landing__menu-item--experience" onclick="cvApp.scrollTo('resume')">Resume</div>
        <div class="landing__menu-item--projects" onclick="cvApp.scrollTo('projects')">Projects</div>
        <div class="landing__menu-item--blog" onclick="cvApp.scrollTo('blog')">Blog</div>
    </div>
</section>