.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.landing__menu {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    font-family: 'News Cycle', sans-serif;
}

.landing__menu > div {
    flex: 1 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    cursor: pointer;
    height: 15vh;
    opacity: 0;
}

@for $i from 1 through 4 {
    .landing__menu > div:nth-child(#{$i}) {
        background-color: rgba(81, 146, 95, 0.5 + $i * 0.1);
        animation-name: showMenu;
        animation-delay: $i * .4s;
        animation-duration: .5s;
        animation-fill-mode: forwards;
    }

    .landing__menu > div:nth-child(#{$i}):hover {
        background-color: rgba(81, 146, 95, 0.3 + $i * 0.1);
    }
}

@keyframes showMenu {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@media screen and (min-width: 48em) {
    .landing__menu > div {
        flex: 1;
        height: 15rem;
    }
}