<section class="resume page-content">
    <span class="scroll-anchor"></span>

    <!-- Education -->
    <section class="education">
        <header class="resume__header">
            <span class="step-icon">
                <img src="../../../assets/resume/books.svg" alt="books">
            </span>
            <h2 class="step__title">Education</h2>
        </header>

        <section class="education-content">
            <section>
                <span class="education__prefix"></span>
                <span class="education__item">
                    <h3>VWO EM + wiskunde B</h3>
                    <p>@ Gertrudis College Roosendaal</p>
                    <p class="education__period">2005 - 2011</p>
                </span>
            </section>

            <section>
                <span class="education__prefix"></span>
                <span class="education__item">
                    <h3>HBO Informatica</h3>
                    <p>@ Avans Breda</p>
                    <p class="education__period">2011 - 2015</p>
                </span>
            </section>

            <section>
                <span class="education__prefix"></span>
                <span class="education__item">
                    <section id="courses">
                        <h3>Courses</h3>
                        <p class="course" rv-each-course="courses">
                            <span class="course__title">{course.title}</span>
                            <span class="course__date">{item.year}</span>
                        </p>
                    </section>
                </span>
            </section>
        </section>
    </section>

    <div class="resume__divider"></div>

    <!-- Experience -->
    <section class="experiences">
        <header class="resume__header">
            <span class="step-icon">
                <img src="../../../assets/resume/briefcase.svg" alt="books">
            </span>
            <h2 class="step__title">Experience</h2>
        </header>

        <section>
            <!-- Timeline -->
            <div class="timeline-legend">
                <div>2015</div>
                <div>2016</div>
                <div>2017</div>
                <div>2018</div>
                <div>2019</div>
            </div>
            <div class="timeline"></div>

            <section class="timeline-fields">
                <div class="timeline-internship">
                    <div class="triangle"></div>
                    <section class="timeline-field ripple" onclick="cvApp.toggleModal('internship')">
                        <span class="timeline-prefix"></span>
                        <h3>Internship
                            <small>@ Info Support</small>
                        </h3>
                        <div class="timeline-bracket">></div>
                    </section>
                </div>
                <div class="timeline-loans">
                    <div class="triangle"></div>
                    <div class="timeline-field ripple" onclick="cvApp.toggleModal('loans')">
                        <span class="timeline-prefix"></span>
                        <h3>Consumer loans
                            <small>@ ING</small>
                        </h3>
                        <div class="timeline-bracket">></div>
                    </div>
                </div>
                <div class="timeline-insurance">
                    <div class="triangle"></div>
                    <div class="timeline-field ripple" onclick="cvApp.toggleModal('insurance')">
                        <span class="timeline-prefix"></span>
                        <h3>National insurance portal
                            <small>@ Info Support</small>
                        </h3>
                        <div class="timeline-bracket">></div>
                    </div>
                </div>
                <div class="timeline-api">
                    <div class="triangle"></div>
                    <div class="timeline-field ripple" onclick="cvApp.toggleModal('developerPortal')">
                        <span class="timeline-prefix"></span>
                        <div class="timeline-field-multi">
                            <h3>API Developer Portal
                                <small>@ ING</small>
                            </h3>
                            <h3>Teacher in PolymerJS
                                <small>@ Info Support</small>
                            </h3>
                        </div>
                        <div class="timeline-bracket">></div>
                    </div>
                </div>
            </section>
        </section>
    </section>
</section>