.resume {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.resume > section {
    flex: 1;
    padding: .5rem;
    box-sizing: border-box;
}

.resume__header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.step-icon {
    width: 4rem;
    height: 4rem;
    border: .2rem solid rgb(188, 212, 187);
    background-color: rgba(19, 142, 14, .2);
    color: white;
    border-radius: 50%;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-icon > img {
    width: 2.5rem;
}

.education-content > section {
    display: flex;
    padding: 1rem 0;
    background-color: white;
    border-radius: .2rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12),
                0 3px 1px -2px rgba(0, 0, 0, 0.2);
    margin: 1rem 0;
}

.education__prefix {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #c8e0c7;
    margin: 1.2rem;
}

.education__item {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
}

.education__item h3 {
    font-weight: normal;
    color: #5d9262;
    margin: 1rem 0;
}

.education__item > nav {
    text-align: center;
}

.course {
    display: flex;
}

.course__title {
    flex: 1;
}

.course__date {
    padding-right: 1rem; 
    opacity: .7;
}

.education__period {
    position: absolute;
    margin: 0;
    right: 1rem;
    top: -.5rem;
    opacity: .7;
}

.experiences {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.experiences > section {
    display: flex;
    flex: 1;
}

.timeline {
    background-color: #c8e0c7;
    width: .5rem;
    border-radius: 4px;
}

.timeline-legend {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem .8rem;
}

.timeline-fields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;

    .timeline-internship {
        flex: 2;
    }

    .timeline-loans {
        flex: 5;
    }

    .timeline-insurance {
        flex: 2;
    }

    .timeline-api {
        flex: 5;
    }

    .timeline-field {
        height: 4rem;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: .2rem;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                    0 1px 5px 0 rgba(0, 0, 0, 0.12),
                    0 3px 1px -2px rgba(0, 0, 0, 0.2);
        margin-left: .8rem;
        width: 85%;
        cursor: pointer;

        div.timeline-field-multi {
            flex: 1;
        }
    }
    
    .timeline-api .timeline-field {
        height: 5rem;
    }
}

.timeline-field h3 {
    font-size: .8rem;
    flex: 1;
    font-weight: normal;
    margin: .5rem 0;
    color: #5d9262;
    small {
        font-size: .7rem;
        color: gray;
        padding-left: .3rem;
        white-space: nowrap;
    }
}

.timeline-fields > div {
    display: flex;
}

.timeline-prefix {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin: 1.2rem;
    background-color: #c8e0c7;
}

.timeline-bracket {
    color: #c4cacc;
    font-size: 1.5rem;
    padding-right: 1rem;
}

.triangle {
    width: 0; 
    height: 0; 
    border-top: .8rem solid transparent;
    border-bottom: .8rem solid transparent;
    border-left: 1rem solid #c1d7c0;
}

@media screen and (min-width: 48em) {
    .resume > section {
        padding: 3rem;
    }

    .resume__divider {
        width: 1px;
        height: calc(100% - 6rem);
        margin: 3rem 0;
        background-color: #dadada;
    }

    .timeline-field {
        min-width: 20rem;
    }

    .timeline-field h3 {
        font-size: 1rem;
    }
}

// animations
.education-content {
    opacity: 0;
    transition: opacity 1s;
}

.education-content.animate {
    opacity: 1;
}

.timeline {
    height: inherit;
    max-height: 0px;
    transition: max-height 1.5s ease-in-out;
}

.timeline.animate {
    max-height: 100%;
}

.timeline-fields {
    opacity: 0;
    transition: opacity 1s;
}

.timeline-fields.animate {
    opacity: 1;
}

.timeline-legend {
    opacity: 0;
    transition: opacity 1s;
}

.timeline-legend.animate {
    opacity: 1;
}