<section class="about page-content">
  <span class="scroll-anchor"></span>
  <div class="step__header">
    <section class="about__traits">

      <div class="trait">
        <div class="trait__icon">
          <img src="~assets/traits/creative.svg">
        </div>
        <div class="trait__title">
          <h2>Creative</h2>
        </div>
      </div>

      <div class="trait">
        <div class="trait__icon">
          <img src="~assets/traits/learner.svg">
        </div>
        <div class="trait__title">
          <h2>Learner</h2>
        </div>
      </div>

      <div class="trait">
        <div class="trait__icon">
          <img src="~assets/traits/conscientious.svg">
        </div>
        <div class="trait__title">
          <h2>Conscientious</h2>
        </div>
      </div>

      <div class="trait">
        <div class="trait__icon">
          <img src="~assets/traits/challenge-seeker.svg">
        </div>
        <div class="trait__title">
          <h2>driven</h2>
        </div>
      </div>
    </section>
  </div>
  <div class="about__content">
    <article class="about__description">
      Hi there! My name is Pieter, I'm a software developer with a passion for the web platform. I've been coding for 10 years
      using Java, PHP and Javascript. I now spend most of my working and spare time building state of the art apps using
      NodeJS, Polymer and VueJS. Discovering the many cool secrets the web platform has to offer along the way.
      <br/>
      <br/> Want to know more about me? Send me an
      <a href="mailto:ppj.vandorst@gmail.com">email</a>.
    </article>
    <section class="about__skills">
      <div class="skill">
        <div>
          <img class="skill__logo" src="~assets/skills/html_css_js.png">
        </div>
        <div class="skill__meter">
          <div class="skill__meter-progress html-css-js"></div>
        </div>
      </div>
      <div class="skill">
        <div>
          <img class="skill__logo" src="~assets/skills/polymer.png">
        </div>
        <div class="skill__meter">
          <div class="skill__meter-progress polymer"></div>
        </div>
      </div>
      <div class="skill">
        <div>
          <img class="skill__logo" src="~assets/skills/vuejs.png">
        </div>
        <div class="skill__meter">
          <div class="skill__meter-progress vue"></div>
        </div>
      </div>
      <div class="skill">
        <div>
          <img class="skill__logo" src="~assets/skills/angular.svg">
        </div>
        <div class="skill__meter">
          <div class="skill__meter-progress angular"></div>
        </div>
      </div>
      <div class="skill">
        <div>
          <img class="skill__logo" src="~assets/skills/nodejs.png">
        </div>
        <div class="skill__meter">
          <div class="skill__meter-progress node"></div>
        </div>
      </div>
      <div class="skill">
        <div>
          <img class="skill__logo" src="~assets/skills/react.svg">
        </div>
        <div class="skill__meter">
          <div class="skill__meter-progress react"></div>
        </div>
      </div>
    </section>
  </div>
</section>