.about__traits {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.trait {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.trait__title > h2 {
    font-weight: normal;
}

.trait__icon {
    width: 6rem;
    height: 6rem;
    border: .2rem solid rgba(124, 224, 133, .2);
    background-color: rgba(19, 142, 14, .2);
    color: white;
    border-radius: 50%;
    margin: 1rem 2rem 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trait__icon > img {
    width: 3.5rem;
}

.about__content {
    display: flex;
    padding-top: 5rem;
    flex-wrap: wrap;
}

.about__description, .about__skills {
    flex: 1 0 100%;
}

.about__skills {
    margin-top: 4rem;
}

.skill {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    height: 4rem;
}

.skill__logo {
    display: block;
    width: 4rem;
    margin: 1rem;
}

.skill__meter {
    display: inline-block;
    width: 65%;
    height: 1.8rem;
    background-color: rgba(19, 142, 14, 0.2);
}

.skill__meter-progress {
    background-color: #5d9262;
    height: 100%;
    width: 0;
    transition: width 1s;
}

@for $i from 1 through 10 {
    $progress: $i * 10;

    .progress-#{$progress} {
        width: $progress * 1%;
    }
}

.about__description {
    font-size: 1.2rem;
    padding: 0 .5rem;
    box-sizing: border-box;
}

@media screen and (min-width: 48em) {
    .about__description, .about__skills {
        flex: 1;
    }
    
    .about__description {
        padding: 0 3rem;
    }

    .about__skills {
        margin-top: 0;
    }

    .skill__meter {
        width: 70%;
    }
}