<div id="dialog-container" rv-class-open="dialogOpen">
    <div id="backdrop" rv-class-open="dialogOpen" onclick="cvApp.toggleModal()"></div>
    <section id="dialog">
        <nav>
            <span class="title">{dialog.title}</span>
            <div class="close ripple" onclick="cvApp.toggleModal()">X</div>
        </nav>
        <article>
            <section class="dialog-content" rv-html="dialog.htmlContent"></section>
            <section class="dialog-skills">
                <div rv-each-skill="dialog.skills">
                    <img class="dialog-skill" rv-src="skill">
                </div>
            </section>
        </article>
    </section>
</div>