#backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #000;
    transition: opacity .4s;
    opacity: 0;
    z-index: -1;
}

#backdrop.open {
    z-index: 1;
    opacity: .5;
}

#dialog-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
}

#dialog-container.open {
    z-index: 1;
    opacity: 1;
}

#dialog {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 2;
    border-radius: .5rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

#dialog > nav {
    height: 3rem;
    background-color: #5d9262;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 1.2rem;
    font-size: 1.3rem;
}

#dialog .title {
    flex: 1;  
}

#dialog .close {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#dialog article {
    display: flex;
    padding: 1rem;
    flex: 1;
}

.dialog-content {
    flex: 4;
    padding-right: .5rem;
}

.dialog-content {
    border-right: 1px solid gray;
    white-space: pre-line;
}

.dialog-skills {
    flex: 2;
}

.dialog-skill {
    height: 3rem;
    padding: .5rem 1rem;
}

.no-scroll {
    overflow-y: hidden;
}

@media screen and (min-width: 48em) {
    #dialog {
        width: 40rem;
        height: 30rem;
    }
}