<section class="blog">
    <span class="scroll-anchor"></span>
    <header class="step__header">
        <span class="step-icon">
            <img src="~assets/resume/typewriter.svg" alt="light-bulb">
        </span>
        <h2 class="step__title">Blog</h2>
    </header>
    <section class="blog-content">
        <h2>Coming soon...</h2>
    </section>
</section>