.blog {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}

.blog-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.blog-content > h2 {
    font-weight: normal;
}